In [1]:
import pandas as pd
read_text_file = pd.read_csv("vader.txt", sep='\t', names=['number', 'word', 'strength', 'scholor', 'vector'] )
read_text_file.to_csv ("vader.csv")

In [2]:
df = pd.read_csv('vader.csv')
df.head()

,Unnamed: 0,number,word,strength,scholor,vector
0,0,$:,-1.5,0.80623,"[-1, -1, -1, -1, -3, -1, -3, -1, -2, -1]",NaN
1,1,%),-0.4,1.01980,"[-1, 0, -1, 0, 0, -2, -1, 2, -1, 0]",NaN
2,2,%-),-1.5,1.43178,"[-2, 0, -2, -2, -1, 2, -2, -3, -2, -3]",NaN
3,3,&-:,-0.4,1.42829,"[-3, -1, 0, 0, -1, -1, -1, 2, -1, 2]",NaN
4,4,&:,-0.7,0.64031,"[0, -1, -1, -1, 1, -1, -1, -1, -1, -1]",NaN

In [3]:
df = df.drop('Unnamed: 0', axis=1)
df = df.drop('vector', axis=1)
df.head()

  number  word  strength                                   scholor
0     $:  -1.5   0.80623  [-1, -1, -1, -1, -3, -1, -3, -1, -2, -1]
1     %)  -0.4   1.01980       [-1, 0, -1, 0, 0, -2, -1, 2, -1, 0]
2    %-)  -1.5   1.43178    [-2, 0, -2, -2, -1, 2, -2, -3, -2, -3]
3    &-:  -0.4   1.42829      [-3, -1, 0, 0, -1, -1, -1, 2, -1, 2]
4     &:  -0.7   0.64031    [0, -1, -1, -1, 1, -1, -1, -1, -1, -1]

In [4]:
df.columns = ['word', 'strength', 'scholor', 'vector']

In [5]:
df.head()

  word  strength  scholor                                    vector
0   $:      -1.5  0.80623  [-1, -1, -1, -1, -3, -1, -3, -1, -2, -1]
1   %)      -0.4  1.01980       [-1, 0, -1, 0, 0, -2, -1, 2, -1, 0]
2  %-)      -1.5  1.43178    [-2, 0, -2, -2, -1, 2, -2, -3, -2, -3]
3  &-:      -0.4  1.42829      [-3, -1, 0, 0, -1, -1, -1, 2, -1, 2]
4   &:      -0.7  0.64031    [0, -1, -1, -1, 1, -1, -1, -1, -1, -1]

In [29]:
vader_list = df['word']
vader_list = list(vader_list)

print('vader_list:{}'.format(len(vader_list)))
print(vader_list[441])
print(vader_list[7503])

vader_list = vader_list[441:7504]

vader_list:7520
abandon
zealous

In [30]:
short = []

for vader in vader_list:
    if len(vader) < 4:
        short.append(vader)
        
print('short:{}'.format(len(short)))
print('vader_list:{}'.format(len(vader_list)))

short:72
vader_list:7063

In [31]:
short

['aok',
 'ass',
 'axe',
 'bad',
 'ban',
 'cry',
 'cut',
 'd-:',
 'd:',
 'd=',
 'die',
 'dud',
 'fab',
 'fad',
 'fag',
 'fan',
 'fav',
 'fit',
 'flu',
 'foe',
 'fud',
 'fun',
 'gag',
 'gn8',
 'god',
 'gun',
 'h8',
 'ha',
 'heh',
 'hid',
 'hug',
 'ill',
 'joy',
 'lag',
 'lol',
 'low',
 'mad',
 'meh',
 'mlm',
 'mmk',
 'nag',
 'nah',
 'no',
 'o.o',
 'o_0',
 'odd',
 'ok',
 'pay',
 'rig',
 'rob',
 'sad',
 'shy',
 'sin',
 'sob',
 'sok',
 'sux',
 'top',
 'ugh',
 'v.v',
 'war',
 'win',
 'woe',
 'won',
 'woo',
 'wow',
 'x-d',
 'x-p',
 'xd',
 'xp',
 'yay',
 'yep',
 'yes']

In [27]:
vader_list.remove('d:')
vader_list.remove('d=')
len(vader_list)

7061

In [28]:
# from tweets_list import dumpJoblib
# dumpJoblib('list/vader_list.joblib', vader_list)

In [ ]:
from tweets_list import loadJoblib

tweets_list = loadJoblib("../list/tweets_list.joblib")

removed_new_line_marks = remove_new_line_marks(tweets_list)
removed_new_line_marks_all_blanks = remove_all_blanks(removed_new_line_marks)

removed_usermention = loadJoblib("../list/removed_usermention.joblib")
removed_usermention_url = remove_url(removed_usermention)
removed_usermeniton_url_hashtag = remove_hashtag_a_series_of_words(removed_usermention_url)

In [11]:
vader_list = loadJoblib('../list/vader_list.joblib')

contained_vader = []
what_is_vader = []

for tweet in removed_usermeniton_url_hashtag:
    for vader in vader_list:
        if vader in tweet:
            contained_vader.append(tweet)
            what_is_vader.append(vader)
            break
            
len(contained_vader)

103